html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.todolist{
    height: 100%;
    /* width: 100%; */
    box-sizing: border-box;
    border: 4px solid rgb(2, 43, 2);
    border-radius: 25px;
    /* width: 100%; */
    padding: 10px;
    background-color: rgb(2, 43, 2);
    color: white;
    justify-self: center;
}
h1{
    text-indent: 30px;
    /* text-indent: -30px; */
}
header{
    margin: 0px 30px 50px 30px;
    display: flex;
    justify-content: space-between;
}
header input{
    background-color: rgb(2, 43, 2);
    color: white;
    text-indent: 25px;
    font-size: large;
    font-weight: 300;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border-color: white;
}
header button{
    background-color: rgb(2, 43, 2);
    color: white;
    border-color: white;
    float: right;
    height: 44px;
    width: 15%;
    border-radius: 10px;
}
.ToDoTasks{
    border: 1px solid wheat;
    align-items: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    /* height: 40px; */
    margin: 30px;
}
.ToDoTasks p{
    text-align: center;
    width:60%
}
#section{
    /* height: ; */
    margin-top: 30px;
}
#Edit, #Completed, #Remove{
    background-color: rgb(2, 43, 2);
    height: 25px;
    border: none;
}
#Edit{color: forestgreen;}
#Completed{color: rgb(219, 208, 54);}
#Remove{color: brown;}

#Edit:hover, #Completed:hover, #Remove:hover{
    font-weight: bolder;
    cursor: pointer;
}
.innerdiv{
    display: flex;
    text-align: center;
}

@media(max-width:768px){
    html{
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body{
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    header input{
        background-color: rgb(2, 43, 2);
        color: white;
        text-indent: 25px;
        font-size: large;
        font-weight: 300;
        height: 40px;
        width: 70%;
        border-radius: 10px;
        border-color: white;
    }
    header button{
        background-color: rgb(2, 43, 2);
        color: white;
        border-color: white;
        float: right;
        height: 44px;
        width: 30%;
        border-radius: 10px;
    }
    .ToDoTasks{
        border: 1px solid wheat;
        align-items: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* height: 40px; */
        margin: 30px;
    }
    .ToDoTasks p{
        text-align: center;
        width:100%
    }
    .innerdiv{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
    .todolist{
        height: 100%;
        width: 100%;
    }
    h1{
        font-size:x-large;
        text-indent: 30px;
        /* text-indent: -30px; */
    }
    #section{
        border: solid white 1px;
        border-radius: 15px;
        height: 100%;
    }
}